/* */

html {
	font-size: 100%;
}

header {
	height: 9vh;
	min-height: 20px;
	background-image: url('../img/header.jpg');
}

.wrapper {	
	display: flex;
	flex-direction: row;
	height: 82vh;	
}

.img-holder {
	width: 87%;
	height: auto;	
	border: 1px solid;
	margin: 1%;
}

.controll-panel {
	width: 10%;
	height: auto;	
	border: 1px solid;
	margin: 1% 1% 1% 0;
}

figure {
  border: 1px #cccccc solid;
  padding: 2% 2% 0% 2%;  
  margin: 0 auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 0px 2px 2px 2px;
  text-align: center;
}

.buttons {
	width: 100%;
	

}

#originalPicture {
		
}

#artistsPicture {

}

footer {
	height: 9vh;
	min-height: 20px;
	background-image: url('../img/header.jpg');
}